li {
  list-style: none;
}

a {
  text-decoration: none;
}

.home {
  padding: 0 10px;
  height: 100vh;
  background-image: linear-gradient(135deg, #3e2c417e 0%, #261c2c98 100%),
    url(../../assets/home/desktop-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 90%;
}

.home-social-media {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home .home-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  font-size: 25px;
  color: var(--toggle-color);
}

.home .home-icon:hover {
  font-size: 40px;
  transition: var(--trans-02);
}

.home-about {
  display: flex;
}

.home-space {
  width: 50%;
}

.home-picture {
  position: relative;
  display: inline-block;
}

.home-image {
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 0;
}

.home-hi-name {
  display: flex;
  align-items: center;
  gap: 4px;
}

.home-hi,
.home-name,
.home-phrase {
  font-size: 20px;
  color: var(--toggle-color);
}

.home-description {
  font-size: 16px;
  color: var(--toggle-color);
}

.home-dev {
  font-size: 24px;
  color: var(--toggle-color);
}

.home-view-download {
  width: 330px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-button-cv {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: var(--toggle-color);
  background-color: var(--primary-color);
  text-align: center;
}

.home-button-cv:hover {
  font-size: 18px;
  transition: var(--trans-03);
  cursor: pointer;
  background-color: #28a745;
}

@media (max-width: 770px) {
  .home-title {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .home-hi,
  .home-name,
  .home-phrase {
    text-align: center;
  }

  .home-view-download {
    width: calc(100% - auto);
  }

  .home-content {
    display: none;
  }
}

@media (max-width: 440px) {
  .home-view-download {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .home-dev {
    text-align: center;
  }
}
