.bodyContainer {
  height: 100vh;
  width: 100%;
  background-color: var(--body-color);
}

.open-side-bar {
  padding-left: 250px;
  transition: padding-left 0.3s ease;
}

.close-side-bar {
  padding-left: 88px;
  transition: padding-left 0.3s ease;
}
