@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ====== SideBar ====== */
  /* ====== Colors ====== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --error-color: #ff0000;
  --bg-footer: #1e4355;
  --placeholder-color: #a3a3a3;
  --hover-button-green: #28a745;
  --white-color: #ffffff;
  --yellow-color: #f0bf6c;
  --white-light-color: #f4f4f4;
  --github-purple-color: #551a8b;
  --github-bg-light: #d1d7e0;
  --github-bg-dark: #1e1e1e;

  /* ====== Transition ====== */
  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  transition: var(--trans-02);
}

.mode-light-active {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --index-color: #c8aa5e;
}

.mode-dark-active {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --index-color: #c8aa5e;
}
